<!doctype html>
<html ng-app="empApp">
  <head>
    <title>MHacks</title>
    <meta charset="utf-8" />
    <script src="../static/js/angular-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="../static/js/angular/angular.min.js"></script>
    <script src="../static/js/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="../static/js/employer.js"></script>
    <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
    <script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
    <script>ZiggeoApi.token = "c488183f3edddc77f9b460742b6500aa";</script>
  </head>
  <body ng-controller="empCtrl">
    <p>Page for employer</p>
    <div ng-controller="MyCtrl">
      <input type="text" ng-model="myModelObj">
      <input type="file" ng-file-select="onFileSelect($files)">
      <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
      <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
      <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
           ng-show="dropSupported">drop files here</div>
      <div ng-file-drop-available="dropSupported=true"
           ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
      <button ng-click="upload.abort()">Cancel Upload</button>
    </div>
    <div ng-show="vis.tableVis">
      <p>Here should be a table</p>
      <!-- TODO: Change testtable to real table -->
      <table ng-repeat="entry in testTable" border="1">
        <tr>
          <!-- TODO get the audio -->
          <td>{{entry.problem}}</td>
          <td>
            <div>
              <!-- make this visual -->
              1. {{entry.content[0]}} <br>
              2. {{entry.content[1]}} <br>
              3. {{entry.content[2]}}
            </div>
          </td>
        </tr>
      </table>
    </div>
    <button>Upload Audio</button>
    <!--<button>Record your video</button> -->
    <ziggeo ziggeo-perms="allowupload"></ziggeo>
  </body>
</html>
