<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MHacks</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/flat-ui.css">
        <link rel="stylesheet" href="../static/css/icon-font.css">
        <!-- Fonts -->
        <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,700,500,300' rel='stylesheet' type='text/css'>

        <link href="../static/css/temp.css" rel="stylesheet" type="text/css">
    </head>

    <body>
            <!-- header-11 -->
            <header class="header-11">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">                                  <a class="brand" href="#" style="font-color"><img src="../static/icons/Mountain@2x.png" width="90" />
                                <img src="../static/icons/quote-up.png" width="10" /> Duolingo 2.0 <img src="../static/icons/quote-down.png" width="10"  />
                                <h6> ---An audio version of Duolingo</h6>
                            </a>
                            </div>
                            <div class="collapse navbar-collapse pull-right">
                                <form class="navbar-form pull-left">
                                    <input type="email" class="form-control input-lg" style="display:inline" placeholder="Email">
                                    <input type="password" class="form-control input-lg" style="display:inline" placeholder="Password">
                                    <label for="remember">
                                        <input id="remember" type="checkbox"> Remember me
                                     </label>
                                    <a class="btn btn-hg btn-info" href="/login">Submit</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="header-11-sub">
                <div class="background">
                </div>
                <div class="container">

                        <img src="../static/img/signup.png" />

                        <br />

                    <div class="row">
                            <a href="/signup#/?role=stu">
                                <img src="../static/icons/students.png" />
                                <br />
                            </a>
                            <a href="/signup#/?role=emp">
                                <img src="../static/icons/employers.png" />
                                <br />
                            </a>
                     </div>
                    </div>
                </div>
            </section>

    </body>
</html>
