<!doctype html>
<html ng-app="loginApp">
  <head>
    <title>MHacks</title>
    <script src="../static/js/angular/angular.min.js"></script>
    <script src="../static/js/login.js"></script>
    <meta charset="utf-8" />
  </head>
  <body ng-controller="loginCtrl">
    <p>login</p>
    {{test}}
    <form>
      <input placeholder="Name or Email:" ng-model="form.username"/>
      <input placeholder="Password" ng-model="form.password"/>
      <input type="submit" ng-click="submit()"/>
    </form>
  </body>
</html>
