<!doctype html>
<html ng-app="signupApp">
  <head>
    <title>MHacks</title>
    <meta charset="utf-8"/>
    <script src="../static/js/angular/angular.min.js"></script>
    <script src="../static/js/signupapp.js"></script>
  </head>
  <body ng-controller="signupCtrl">
    <p>Sign Up</p>
    <form>
      <input placeholder="Your name:" ng-model="form.name"/>
      <input placeholder="Your email:" ng-model="form.email"/>
      <input placeholder="Your password:" ng-model="form.password"/>
      <input placeholder="Password again please:" ng-model="form.check"/>
      <input type="submit" ng-click="submit()"/>
    </form>
    {{form.valid}}
  </body>
</html>
